//app container
.app {
    background-color: #e8e7e9;
}

// app navigation
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #c9b2e4; //Company name
    span {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
    } // cart button in navigation
    div {
        padding: 0 40px 0 0;
        height: 100%;
        :hover {
            background-color: #fdf6f621;
        }
        button {
            padding: 20px 0 0 0;
            background-color: inherit;
            border: 0;
            cursor: pointer;
            i {
                color: #ffffff;
                font-size: 30px;
            }
            p {
                text-transform: uppercase;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
}

//cart conatiner
.cart {
    z-index: 2;
    position: absolute;
    right: 0;
    min-height: 5px;
    min-width: 200px;
    max-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.show-cart {
    height: 100%;
    background: #ffffff;
}

// cart table
.cart-table {
    text-align: center;
    table,
    thead,
    tr,
    th,
    td {
        border: 1px solid black;
    }
    td img {
        height: 100px;
    }
}

.clear-cart {
    background-color: #ff1111;
    color: #e8e7e9;
    border: 0;
}

//header
.header {
    background-image: url("../img/cover.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-top: -20px;
    h1,
    h3 {
        text-align: center;
        color: #ffffff;
    }
    h1 {
        padding-top: 100px;
        font-size: 50px;
        letter-spacing: 6px;
    }
    h3 {
        font-size: 30px;
        opacity: .8;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    }
}

// Products list
.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 0;
    margin: 0px;
}

// one product container
.product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    height: 100%;
    min-width: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #000000;
    .price {
        background-color: #edff4f;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 24px
    }
    button {
        cursor: pointer;
        margin-top: 20px;
        height: 100%;
        background: #4bd30c;
        border: 0;
        padding: 10px 30px;
    }
    img {
        height: 300px;
    }
}

// app footer
.footer {
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    color: #494949;
    padding: 20px;
}

// responsive version
@media only screen and (max-width: 500px) {
    .product-card {
        min-width: 80%;
    }
}